h4 {
    margin: 0 0 0.5rem 0
}

label {
    margin-right: 0.5rem;
}

hr{
    border-top: 0.15rem solid var(--button);
    margin: 1rem 0;
}

#user_detail input {
    margin-right: 0.5rem;
    /*border-radius: 0.4rem;*/
    /*border: 0.1rem solid var(--button);*/
    border: 0;
    border-bottom: 0.1rem solid var(--secondary);
    background-color: transparent;
    padding: 0.3rem 0.5rem;
}

form {
    padding: 1rem;
    width: fit-content;
    margin-bottom: 1rem;
    border: 0px;
    border-radius: 1rem;
    background-color: var(--light);
    box-shadow: 1px 1px 40px var(--button);
}

#user_detail{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.flex_row{
    display: flex;
    gap: 1rem;
}
