#users_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#users_data table{
    border-collapse: collapse;
}

#users_data th, td{
    border: 2px solid white;
    padding: 0.5rem;
}

#users_data th{
    background-color: #37538d;
}

#users_data td {
    background-color: #577ec9;
}

h3 {
    text-align: center;
}